#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet photo booth gluten-free twee |
        etsy letterpress viral banh mi. Flexitarian four loko |
        pork belly bespoke salvia. Tumeric cray cred, brooklyn |
        meggings umami taxidermy. Occupy fingerstache master cleanse | 
        stumptown pop-up crucifix prism food truck salvia umami scenester | 
        chicharrones cold-pressed pok pok fixie. |

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path